<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change password</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <%- include('partials/favico') %>
    <!-- Must include Crypto -->
    <script type="text/javascript" src="crypto-js.js"></script>
    <script>
      function checkPassword(event) {
        const password1 = document.getElementById("password1").value;
        const password2 = document.getElementById("password2").value;

        let passwordValid = false;
        let message = "";
        if (password1 == "") {
          message = "Please enter password";
        } else if (password2 == "") {
          message = "Please re-enter password";
        } else if (password1 != password2) {
          message = "Passwords do not match";
        } else {
          passwordValid = true;
        }

        // Display error message
        if (!passwordValid) {
          document.getElementById("message").className = "text-danger";
          document.getElementById("message").innerText = message;
          event.preventDefault();
        }
        // password are good
        else {
          let salt = CryptoJS.lib.WordArray.random(8);
          document.getElementById("salt").value = salt;
          let hashed = CryptoJS.SHA256(password1 + ":" + salt).toString(
            CryptoJS.enc.Hex
          );
          document.getElementById("hash").value = hashed;
        }
      }
    </script>
  </head>

  <body>
    <%- include('partials/navbar') %>

    <div class="container-fluid vh-100" style="margin-top: 10px">
      <div class="" style="margin-top: 100px">
        <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
              <h3 class="text-primary">Change Password</h3>
            </div>
            <!-- display Account info -->
            <div>
              <p>Name: <%= locals.firstName %> <%= locals.lastName %></p>
            </div>
            <form
              action="/changePassword"
              onSubmit="return checkPassword(event);"
              method="post"
            >
              <div class="p-4">
                <div class="input-group mb-3">
                  <!-- Password does not get sent because there is no name tag -->
                  <span class="input-group-text bg-primary"
                    ><i class="bi bi-key-fill text-white"></i
                  ></span>
                  <input
                    id="password1"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text bg-primary"
                    ><i class="bi bi-key-fill text-white"></i
                  ></span>
                  <input
                    id="password2"
                    type="password"
                    class="form-control"
                    placeholder="Re-enter Password"
                  />
                </div>
                <!-- This is the password that gets sent even though they are hidden -->
                <input type="hidden" id="hash" name="hash" />
                <input type="hidden" id="salt" name="salt" />
                <input type="hidden" id="accountNumber" name="accountNumber" value=<%- locals.accountNumber%>>
                <div class="text-center">
                  <button
                    class="btn btn-primary text-center mt-2"
                    type="submit"
                  >
                    Change Password
                  </button>
                </div>
              </div>
            </form>
            <div>
              <p id="message" class="text-danger" style="height: 25px">
                <%- locals.message %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
